<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="#001c3d" name="msapplication-TileColor" />
    <meta content="#001c3d" name="theme-color" />
    <meta content="Prescient Group" name="site_name" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta content="" property="og:description" />
    <meta content="" property="og:image" />
    <meta content="Prescient Group" property="og:title" />
    <meta content="https://prescientgroup.uk" name="og:url" />
    <meta content="website" name="og:site_type" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="@bureau_va" name="twitter:creator" />
    <meta content="" name="twitter:description" />
    <meta content="" property="twitter:image:src" />
    <meta content="Prescient Group" property="twitter:title" />

    <title>Prescient Group</title>

    <link href="https://prescientgroup.org" rel="canonical" />
    <link as="script" href="/js/index.js" rel="preload" />
    <link as="style" href="/css/index.css" rel="preload" />
    <link crossorigin as="font" href="/fonts/MaisonNeue-Light.woff2" rel="preload" type="font/woff2" />
    <link crossorigin as="font" href="/fonts/MaisonNeue-Medium.woff2" rel="preload" type="font/woff2" />
    <link crossorigin as="font" href="/fonts/SabonMTPro-Regular.woff2" rel="preload" type="font/woff2" />

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/images/favicon-32x32.png" sizes="32x32" type="img/png">
    <link rel="icon" href="/images/favicon-16x16.png" sizes="16x16" type="img/png">
    <link rel="mask-icon" color="#001c3d" href="/images/safari-pinned-tab.svg">

    <link href="/css/index.css" rel="stylesheet" />
</head>
<body>
    <!-- Page -->
    <main id="js-content">{{{app}}}</main>
    {{#if props}}
    <script id="props" type="application/json">{{{props}}}</script>
    {{/if}}
    <script src="/js/index.js"></script>
    <!-- End Page -->
</body>
</html>
