/*
 * Bureau for Visual Affairs CSS Toolkit
 */

@import 'normalize.css';

@import 'modules/aspect-ratios.css';
@import 'modules/borders.css';
@import 'modules/buttons.css';
@import 'modules/colours.css';
@import 'modules/grid.css';
@import 'modules/layout.css';
@import 'modules/oembed.css';
@import 'modules/position.css';
@import 'modules/spaces.css';
@import 'modules/type.css';

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

:root {
    --container-width: 1440px;
}

* { box-sizing: border-box; }

.container {
    max-width: var(--container-width);
    margin: 0 auto;
}

.cursor-pointer { cursor: pointer; }
.cursor-normal { cursor: normal; }
